@import '../App.css';

.blogList{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background2);
  padding: 24px 25px;
}
.listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}
.listContainer li{
  width: 100%;
}


@media screen and (max-width: 768px) {
    .listContainer {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .listContainer {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust for mobile devices */
    }
  }