@import '../App.css';

.cardContainer{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.133);
    height: 263px;
    width: 100%;
    max-width: 220px;
    overflow: hidden;
}

.imageContainer{
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.imageContainer img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.date , .categoryName{
    color: white;
    font-style: italic;
    padding: 1rem .5rem .5rem;
    font-size: .5rem;
    z-index: 1;
}

.postContent {
    margin: 1rem;
}
.postContent .title {
    margin-bottom: .5rem;
    color: #262626;
    font-size: 1.2rem;
}
.postContent p {
    color: #868686;
    font-size: 0.8rem;
    margin-bottom: .5rem;
}