@import '../App.css';

.homeContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .homeContainer {
        grid-template-columns: 1fr; /* Adjust the number of columns for smaller screens */
    }
}