:root {
  --main-orange:#E95E30;
  --main-background: #ffffff;
  --main-title-color:#262626;
  --text-color:#868686;
  --light-orange: #F27623;
}

* {
  font-family: "Proxima Nova","Arial", "Roboto", sans-serif;
  color: var(--label-text-color);
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 80vh;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 949px;
  }
}

@media screen and (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media screen and (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}
